#map {
    border: 2px solid black;
    height: 500px;
    margin: 10px 0px;
}


.description {
    padding: 30px;
    font-size: 18px;
}

/* .res-title{
    font-size: 24px;
} */

.res-description{
    font-size: 18px;
}

.city{
    font-size: 20px; 
    text-transform: uppercase;
}